.lighthouse , .radiotower  {background-image: url("../images/sprites/mysprite.png"); background-repeat: no-repeat;}

.lighthouse {
  display:block;
  width: 64px;
  height: 64px; 
  background-position: 15px -30px;
}

.radiotower {
  display:block;
  width: 64px;
  height: 64px; 
  background-position: 0 -124px; 
}
