/** sprite: mysprite;
    sprite-image: url('mysprite.png');
    sprite-margin: 30; 
    sprite-dataurl: false;
    sprite-layout: vertical; */

.lighthouse {
  display:block;
  width: 64px;
  height: 64px; 
  /** sprite-ref: mysprite; sprite-pos: +15 */
  background-image: url('../images/lighthouse.png');
}

.radiotower {
  display:block;
  width: 64px;
  height: 64px; 
  background-image: url('../images/radiotower.png'); 
  /** sprite-ref: mysprite; */ 
}
